
<div class="view bckim" style=" height: 115vh;  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJ7vGeY9mb3_OUleT41pS-L6suxHY2oDRWkfQBL4GTDQ-YkW05MEqnRUpDpVe_NK1IyE&usqp=CAU);   background-size: cover;">  
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Employee Login Here </h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="username" class="label-control">Email:</label>
                    <input name="email" [(ngModel)]="userName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="password" class="label-control">Password:</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="works()" class="btn btn-primary">Login</button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <a href="\" class="link-primary">Admin login </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>