<div class="view bckim" style=" height: 115vh;  background-image: url(https://as2.ftcdn.net/v2/jpg/04/54/33/97/1000_F_454339741_ULFbSQtsennLNf83v3mka14spoif8uoV.jpg);   background-size: cover;">
   
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2 style="color:darkblue">Employee Add Portal</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label style="color:darkred" for="" class="forem-label">employee Code</label>
                    <input name="employeeCode" [(ngModel)]="employeeCode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label style="color:darkred" for="" class="forem-label">name</label>
                    <input  name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label style="color:darkred" for="" class="forem-label">designation</label>
                    <input name="designation" [(ngModel)]="designation"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label style="color:darkred" for="" class="forem-label">salary</label>
                    <input name="salary" [(ngModel)]="salary" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:darkred" for="" class="forem-label">mobile Number</label>
                    <input name="mobileNumber" [(ngModel)]="mobileNumber" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:darkred" for="" class="forem-label">user Name</label>
                    <input name="userName" [(ngModel)]="userName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:darkred" for="" class="forem-label">password</label>
                    <input name="password" [(ngModel)]="password" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()" style="background-color: #548CFF;" class="btn btn">Add Details</button>
                </div>
            </div>
        </div>
    </div>

