<div class="view bckim" style=" height: 115vh;  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWulBjOPJseXq0Y6Bhi2rpD4jMdGMuoNrlRA&usqp=CAU);   background-size: cover;">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2>Security Add Portal</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="forem-label">Guard number</label>
                    <input name="guardnumber" [(ngModel)]="guardnumber" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="forem-label">Name</label>
                    <input  name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="forem-label">salary</label>
                    <input name="salary" [(ngModel)]="salary" type="text" class="form-control">
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="forem-label">Mobile Number</label>
                    <input name="mobileNumber" [(ngModel)]="mobileNumber" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="forem-label">User Name</label>
                    <input name="userName" [(ngModel)]="userName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="forem-label">Email id</label>
                    <input name="password" [(ngModel)]="password" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()" class="btn btn-success">Add Here</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>